/* Global Styles */
:root {
  --font-family: system-ui, sans-serif;
  --background-color: #fafafa;
  --text-color: #333;
  --header-bg-color: #2d2d2d;
  --header-text-color: #fff;
  --highlight-color: #ff6600;
  --footer-bg-color: #f0f0f0;
  --footer-text-color: #666;
  --post-date-color: #888;
  --gap: 1.5rem;
}

body {
  font-family: var(--font-family);
  background: var(--background-color);
  color: var(--text-color);
  margin: 0;
  line-height: 1.6;
}

/* Layout */
header {
  background: var(--header-bg-color);
  color: var(--header-text-color);
  padding: 1rem;
  text-align: center;
}

nav a {
  color: var(--header-text-color);
  margin: 0 1rem;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

nav a.active {
  font-weight: bold;
  text-decoration: underline;
  color: var(--highlight-color);
}

main {
  max-width: 900px;
  margin: 2rem auto;
  padding: 0 1rem;
  text-align: justify;
}

footer {
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  background: var(--footer-bg-color);
  color: var(--footer-text-color);
}

/* Components */
/* A utility class for creating a horizontally aligned layout with evenly spaced items */
.side-by-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap);
  margin-top: 2rem;
}

.side-by-side.reverse {
  flex-direction: row-reverse;
}

.bio-text {
  max-width: 1100px; /* Increased width for better readability */
}

.profile-image img {
  width: auto;
  max-width: 300px;
  height: auto;
  border-radius: 6px;
  display: block;
  margin: 1rem auto; /* Adds space around the image */
}

.image-caption {
  font-size: 0.9em;
  color: var(--footer-text-color);
  text-align: center;
  margin-top: 0.5rem;
}

/* Adding styles for the code-container to prevent overflow */
.code-container {
  overflow-x: auto;
  max-width: 100%;
  background-color: #f8f8f8;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Responsive Design */
@media (max-width: 1200px) {
  /* Switch to column layout for smaller screens to ensure better readability and stacking of content */
  .side-by-side,
  .side-by-side.reverse {
    flex-direction: column;
    text-align: justify;
  }
  .bio-text {
    max-width: 90%;
  }

  .profile-image img {
    max-width: 100%;
  }
}

/* Blog Post Styles */
.post-date {
  color: var(--post-date-color);
  font-size: 0.9em;
}

.post-list {
  list-style: none;
  padding: 0;
}

.post-list li {
  margin-bottom: 0.8rem;
}

.post-content p {
  margin-bottom: 1rem;
}