<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">
</head>
<body>
  <header>
    <header>
        <nav>
          {% for item in site.nav_items %}
            <a href="{{ item.url }}" class="{% if page.url == item.url %}active{% endif %}">
              {{ item.title }}
            </a>
          {% endfor %}
        </nav>
      </header>
    </header>
  <main>
    {{ content }}
  </main>

  <footer>
    <p>© 2025 C. Zachary Palmer, Ph.D. Hosted with <span title="love">❤️</span> on GitHub Pages.</p>
    <p><a href="{{ "/feed.xml" | relative_url }}" style="color: #ebebeb;">Subscribe via RSS</a></p>
  </footer>
</body>
</html>