---
layout: default
---
{% assign image_side = page.image_side | default: "left" %}
{% assign image_caption = page.image_caption | default: "" %}

<div class="profile{% if image_side == 'right' %} profile--reverse{% endif %}">
    {% if page.image %}
    <figure class="profile__image">
        <img src="{{ page.image }}" alt="{{ page.title }}">
        {% if page.image_caption %}
        <figcaption class="profile__caption">{{ page.image_caption }}</figcaption>
        {% endif %}
    </figure>
    {% endif %}

    <div class="profile__bio">
        {{ content }}
    </div>
</div>